.cabecalho__container {

    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    img {
        max-width: 10%;
    }
  }


body {
    background: image();
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    width: 400px;
    border-color: rgb(255, 3, 3);
   
}